<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!-- 只扫描Controller注解-->
    <context:component-scan base-package="org.seckill.web" annotation-config="true" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 配置SpringMVC-->
    <!--todo 1.开启SpringMVC注解模式 -->
    <!--
        1)自动注册默认的bean：DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
        2)提供系列功能，数据绑定，数据日期转换，xml，json默认读写支持
    -->
    <mvc:annotation-driven/>

    <!--todo 2.静态资源默认servlet配置:
        1)加入对静态资源的处理
        2）允许使用"/"做整体映射
    -->
    <mvc:default-servlet-handler/>

    <!--todo 3.配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>



</beans>